.box{
  background:silver;
  display:flex;
  flex-direction:row;
  height:50vh;
  width:30vw;
  border-radius:10px;
  overflow:hidden;
}

.box .topic{
  width:200px;
  background:#eee;
  padding:10px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.box .topic .top > *{
  margin-bottom: 10px;
}

.box .topic .top .onMyMac {
  font-family:monospace;
  font-size:0.9em;
  margin-left: -5px;
}

.box .topic .top .search-area {
  position:relative;
}

.box .topic .top .search-area span{
  position:absolute;
  color:gray;
  width:100%;
  height:100%;
  font-size:0.9em;
  display:flex;
  justify-content:center;
  align-items: center;
  
}

.box .topic .search-area input {
 border: none;
 border-radius: 3px;
 background: white;
 padding: 4px;
}

.box .lists{
  
  background:dodgerblue;
  flex-grow:1;
  padding:10px;
}

.box .lists .top{
  display:flex;
  justify-content:space-between;

}

.title{
  font-size:1.8em;
  color:red;
}

.addList{
  cursor:pointer;
}

.addBtn {
  cursor:pointer;
  width:40px;
  height:30px;
  border-radius:5px;
  border:none;
  background:white;
}